<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,177},{70,71}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{70,71}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,152},{72,83}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{72,83}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,152},{94,73}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{94,73}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,130},{66,45}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{66,45}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{62,99}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{62,99}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,66},{84,85}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{84,85}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,146},{102,99}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{102,99}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,144},{98,99}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,29},{98,99}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hit/attack_effect/attack_hurt1_effect_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{94,103}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{94,103}}</string>
                <key>sourceSize</key>
                <string>{118,135}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,134},{112,108}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,35},{112,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{130,122}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{130,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,148}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{126,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{116,142}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{116,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{112,140}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{112,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{74,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,14},{74,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,146},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>attack_hurt_effect/attack/pastormale_attack_000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,146},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EffPastorMale0.png</string>
            <key>size</key>
            <string>{669,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1a69b2db3f82bcf5cc120144b284f0e:1/1$</string>
            <key>textureFileName</key>
            <string>EffPastorMale0.png</string>
        </dict>
    </dict>
</plist>
