<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>silingqishi/attack/attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,156},{146,214}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,118},{146,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/attack/attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{148,212}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,120},{148,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/attack/attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{148,212}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,120},{148,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/attack/attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,152},{148,212}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,120},{148,212}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{172,150}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,182},{172,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{194,150}}</string>
                <key>offset</key>
                <string>{32,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,182},{194,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,536},{188,140}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,192},{188,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,662},{204,104}}</string>
                <key>offset</key>
                <string>{13,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,236},{204,104}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,444},{216,106}}</string>
                <key>offset</key>
                <string>{15,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,229},{216,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/dead/dead0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,920},{220,96}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,239},{220,96}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/hurt/hurt0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{164,150}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,182},{164,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/hurt/hurt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,554},{166,152}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,180},{166,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/hurt/hurt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,618},{166,152}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,180},{166,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/idle/idle0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,708},{164,150}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,182},{164,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/idle/idle0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,860},{166,148}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,184},{166,148}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,460},{164,156}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,176},{164,156}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,766},{166,152}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,180},{166,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,604},{164,160}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,172},{164,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,372},{170,162}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,165},{170,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,296},{174,162}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,165},{174,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{178,160}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,167},{178,160}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/move/move0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,390},{174,162}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,170},{174,162}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,786},{164,150}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,182},{164,150}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,678},{138,186}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,146},{138,186}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{136,182}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,150},{136,182}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,444},{158,172}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,155},{158,172}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,302},{200,140}}</string>
                <key>offset</key>
                <string>{-40,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,194},{200,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,186},{202,140}}</string>
                <key>offset</key>
                <string>{-43,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,194},{202,140}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/skill/skill0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,152},{200,142}}</string>
                <key>offset</key>
                <string>{-45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,192},{200,142}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/win/win0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,818},{164,152}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,182},{164,152}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/win/win0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{152,180}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{152,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/win/win0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{152,210}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,117},{152,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>silingqishi/win/win0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,206}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,121},{156,206}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>silingqishi0.png</string>
            <key>size</key>
            <string>{988,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f542ea565ca51f7401fc11d5303ffe6:1/2$</string>
            <key>textureFileName</key>
            <string>silingqishi0.png</string>
        </dict>
    </dict>
</plist>
