<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WarriorMale4/attack/warriormale4_attack0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,664},{184,136}}</string>
                <key>offset</key>
                <string>{-63,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,130},{184,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/attack/warriormale4_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,896},{178,124}}</string>
                <key>offset</key>
                <string>{-60,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,128},{178,124}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/attack/warriormale4_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,734},{160,150}}</string>
                <key>offset</key>
                <string>{-51,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,94},{160,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/attack/warriormale4_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,734},{114,108}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,136},{114,108}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/dead/warriormale4_dead0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{182,136}}</string>
                <key>offset</key>
                <string>{-63,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,130},{182,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/hurt/warriormale4_hurt0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,306},{186,138}}</string>
                <key>offset</key>
                <string>{-63,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,139},{186,138}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>WarriorMale4/hurt/warriormale4_hurt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,446},{172,148}}</string>
                <key>offset</key>
                <string>{-77,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,139},{172,148}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>WarriorMale4/hurt/warriormale4_hurt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,802},{162,146}}</string>
                <key>offset</key>
                <string>{-81,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,148},{162,146}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>WarriorMale4/hurt/warriormale4_hurt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,844},{162,142}}</string>
                <key>offset</key>
                <string>{-81,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,158},{162,142}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{186,136}}</string>
                <key>offset</key>
                <string>{-61,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,526},{186,136}}</string>
                <key>offset</key>
                <string>{-61,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,624},{186,136}}</string>
                <key>offset</key>
                <string>{-61,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,386},{186,138}}</string>
                <key>offset</key>
                <string>{-61,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,342},{186,140}}</string>
                <key>offset</key>
                <string>{-61,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,129},{186,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{186,140}}</string>
                <key>offset</key>
                <string>{-61,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,129},{186,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,484},{186,138}}</string>
                <key>offset</key>
                <string>{-61,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/idle/warriormale4_idle0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,596},{186,136}}</string>
                <key>offset</key>
                <string>{-61,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,130},{186,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/move/warriormale4_move0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{196,146}}</string>
                <key>offset</key>
                <string>{-60,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,132},{196,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/move/warriormale4_move0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{196,150}}</string>
                <key>offset</key>
                <string>{-59,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,128},{196,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/move/warriormale4_move0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,190},{194,148}}</string>
                <key>offset</key>
                <string>{-57,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,130},{194,148}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/move/warriormale4_move0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,154},{194,150}}</string>
                <key>offset</key>
                <string>{-57,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,128},{194,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/move/warriormale4_move0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,190},{194,150}}</string>
                <key>offset</key>
                <string>{-58,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,127},{194,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/skill/warriormale04_skili_hurt_people/warriormale04_skili_hurt_people_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,188}}</string>
                <key>offset</key>
                <string>{-99,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,79},{190,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WarriorMale4/skill/warriormale04_skili_hurt_people/warriormale04_skili_hurt_people_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{186,186}}</string>
                <key>offset</key>
                <string>{-97,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,81},{186,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WarriorMale4/skill/warriormale04_skili_hurt_people/warriormale04_skili_hurt_people_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{186,188}}</string>
                <key>offset</key>
                <string>{-97,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,79},{186,188}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>WarriorMale4/win/warriormale4_win0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,762},{184,136}}</string>
                <key>offset</key>
                <string>{-63,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,130},{184,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/win/warriormale4_win0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,446},{110,148}}</string>
                <key>offset</key>
                <string>{-34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,116},{110,148}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale4/win/warriormale4_win0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,900},{108,150}}</string>
                <key>offset</key>
                <string>{-35,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,114},{108,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WarriorMale41.png</string>
            <key>size</key>
            <string>{814,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509af2f8180e4524bc30753cefdf9424:2/2$</string>
            <key>textureFileName</key>
            <string>WarriorMale41.png</string>
        </dict>
    </dict>
</plist>
