<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WarriorMale5/attack/warriormale5_attack0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{142,116}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,130},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{142,116}}</string>
                <key>offset</key>
                <string>{-75,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,130},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,634},{126,116}}</string>
                <key>offset</key>
                <string>{-97,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,130},{126,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{168,114}}</string>
                <key>offset</key>
                <string>{42,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,132},{168,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,878},{112,110}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,136},{112,110}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,228},{98,108}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,138},{98,108}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/attack/warriormale5_attack0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,458},{84,106}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,140},{84,106}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/dead/warriormale5_dead0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{144,116}}</string>
                <key>offset</key>
                <string>{-50,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,130},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/dead/warriormale5_dead0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,926},{92,118}}</string>
                <key>offset</key>
                <string>{-31,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,128},{92,118}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/dead/warriormale5_dead0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{92,124}}</string>
                <key>offset</key>
                <string>{-32,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,121},{92,124}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/dead/warriormale5_dead0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,378},{126,120}}</string>
                <key>offset</key>
                <string>{8,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,144},{126,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/dead/warriormale5_dead0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,506},{126,118}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,143},{126,118}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/hurt/warriormale5_hurt0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,122},{144,116}}</string>
                <key>offset</key>
                <string>{-50,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,130},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/hurt/warriormale5_hurt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,118},{148,120}}</string>
                <key>offset</key>
                <string>{-65,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,126},{148,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/hurt/warriormale5_hurt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,544},{144,104}}</string>
                <key>offset</key>
                <string>{-71,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,139},{144,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/hurt/warriormale5_hurt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{146,98}}</string>
                <key>offset</key>
                <string>{-72,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,148},{146,98}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{144,116}}</string>
                <key>offset</key>
                <string>{-50,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,240},{144,116}}</string>
                <key>offset</key>
                <string>{-50,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,131},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,782},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,760},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,904},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,634},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/idle/warriormale5_idle0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,590},{142,116}}</string>
                <key>offset</key>
                <string>{-49,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,131},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,896},{142,114}}</string>
                <key>offset</key>
                <string>{-45,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,132},{142,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,762},{142,114}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,131},{142,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,358},{144,114}}</string>
                <key>offset</key>
                <string>{-45,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,129},{144,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{144,116}}</string>
                <key>offset</key>
                <string>{-45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,129},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,358},{144,114}}</string>
                <key>offset</key>
                <string>{-45,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,132},{144,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,474},{144,114}}</string>
                <key>offset</key>
                <string>{-44,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,131},{144,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,474},{144,114}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,129},{144,114}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/move/warriormale5_move0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,752},{142,116}}</string>
                <key>offset</key>
                <string>{-44,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,129},{142,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/warriormale_attack/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{255,88}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,88}}</string>
                <key>sourceSize</key>
                <string>{285,98}</string>
            </dict>
            <key>WarriorMale5/warriormale_attack/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,64},{209,56}}</string>
                <key>offset</key>
                <string>{32,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,39},{209,56}}</string>
                <key>sourceSize</key>
                <string>{285,98}</string>
            </dict>
            <key>WarriorMale5/warriormale_attack/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{219,60}}</string>
                <key>offset</key>
                <string>{33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,38},{219,60}}</string>
                <key>sourceSize</key>
                <string>{285,98}</string>
            </dict>
            <key>WarriorMale5/win/warriormale5_win0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,240},{144,116}}</string>
                <key>offset</key>
                <string>{-50,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,130},{144,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/win/warriormale5_win0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,690},{68,134}}</string>
                <key>offset</key>
                <string>{-24,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,110},{68,134}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/win/warriormale5_win0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,92},{106,134}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,123},{106,134}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/win/warriormale5_win0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,240},{118,136}}</string>
                <key>offset</key>
                <string>{-43,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,120},{118,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>WarriorMale5/win/warriormale5_win0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,328},{106,128}}</string>
                <key>offset</key>
                <string>{-37,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,120},{106,128}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WarriorMale50.png</string>
            <key>size</key>
            <string>{670,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2ec13a2545a137fc989b026099a71a:1/1$</string>
            <key>textureFileName</key>
            <string>WarriorMale50.png</string>
        </dict>
    </dict>
</plist>
